@media screen and (max-width:600px) {
    .our-popular-tours,.why-choose-us-container{
        flex-direction: column;
        gap: 20px;
    }
    .our-popular-tours-img{
        width: 80%;
        margin: 0 auto;
    }
    .our-popular-tours-text{
        width: 80%;
        margin: 0 auto;
    }
    .our-popular-tours-text .ul-list p {
        margin-bottom: 10px;
    }
    .our-popular-tours-text p{
        margin-bottom: 0;
    }
    .why-choose-us-container .card-1,.why-choose-us-container .card-2,.why-choose-us-container-2 .card-3{
        width: 80%;
        margin: 0 auto;
    }
}